.idea/
out/
site/
ContextProject.iml
logs/*
.classpath
.DS_Store
.project
.settings/
.checkstyle
src/test/java/xml/test_files/test-write.xml
config.ini
project_write_test.txt
*.scp
coverage-error.log
src/main/webserver/node_modules/
src/main/webserver/.idea/
src/main/webserver/npm-debug.log
src/main/webserver/project-scp-files/
**/*.swp
**/.tern-project
