.idea/
out/
site/
ContextProject.iml
logs/*
.classpath
.DS_Store
.project
.settings/
.checkstyle
src/test/java/xml/test_files/test-write.xml
config.ini
project_write_test.txt
*.scp
coverage-error.log
**/*.swp
**/.tern-project
npm-debug.log
*.aux
documentation/final-report/*.txt
*.out
*.toc
documentation/final-report/report.pdf
*.gz
*.log
