<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/timeline.css">

</head>

<body>
    <div class="page-wrap">
        <header>
            <div class="content">
                <p>Placeholder header</p>
            </div>
        </header>

        <main>
            <div class="content">
                <p>Placeholder main</p>
            </div>
        </main>
    </div>

    <footer>
        <div class="content">
            <p>Placeholder footer</p>
        </div>
    </footer>
</body>

</html>