<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/timeline.css">
    <script src="/javascripts/jquery-offline.js"></script>
    <script src="/javascripts/timeline.js"></script>
</head>

<body>
    <div class="page-wrap">
        <header>
            <div class="content">
                <p>Placeholder header</p>
            </div>
        </header>

        <main>
            <div class="content">
                <p>Placeholder main</p>
                <table class="timeline">
                    <tbody>
                        <tr>
                            <th>Count number</th>
                            <th>Timeline blocks</th>
                        </tr>
                        <% for(i = minCount; i <= maxCount; i++) { %>
                            <tr>
                                <td><%= i%></td>
                                <td></td>
                            </tr>
                        <% }; %>
                    </tbody>
                </table>
            </div>
        </main>
    </div>

    <footer>
        <div class="content">
            <p>Placeholder footer</p>
        </div>
    </footer>
</body>

</html>