.check-box .box {
    -fx-background-radius: 10em;
    -fx-background-color: rgb(210,210,210);
    -fx-padding: 2 20 2 7;
    -fx-min-width: 20;
    -fx-min-height: 20;
}

.check-box:selected .box {
    -fx-background-color: rgb(220,220,220);
    -fx-padding: 2 7 2 20;
}

.check-box .mark {
    -fx-shape: null;
    -fx-background-color:  rgb(255,255,255);
    -fx-background-radius: 10em;
    -fx-min-width: 18;
    -fx-min-height: 18;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.25), 1, 1, -1, 0);
}

.check-box:selected .mark {
    -fx-background-color: #2cb7ff;
    -fx-opacity: 1.0;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.15), 1, 1, -1, 0);
}