.root {
    -c-color-primary: rgb(0,0,0);
}

.menu-bar {
    -fx-background-color: -c-color-primary;
    -fx-text-fill: white;
}

.menu:pressed {
    -fx-text-fill: red;
}

.menu-button {
    -fx-text-fill: red;
}

.menu-bar {
    -fx-background-color: -c-color-primary;
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-text-fill: white;
}

.menu-item .label {
    -fx-text-fill: black;
 }