.check-box .box {
    -fx-alignment: center-left;
    -fx-padding: 1 1 1 1;

    -fx-min-height: 22;
    -fx-pref-height: 22;
    -fx-max-height: 22;

    -fx-min-width: 45;
    -fx-pref-width: 45;
    -fx-max-width: 45;

    -fx-background-radius: 10em;
    -fx-background-color: rgb(210,210,210);
}

.check-box:selected .box {
    -fx-padding: 1 1 1 1;
}

.check-box .mark {
    -fx-shape: null;
    -fx-background-radius: 10em;
    -fx-background-color: rgb(255,255,255);

    -fx-min-height: 17;
    -fx-pref-height: 17;
    -fx-max-height: 17;

    -fx-min-width: 17;
    -fx-pref-width: 17;
    -fx-max-width: 17;
}

.check-box:selected .mark {
    -fx-min-width: 18;
    -fx-pref-width: 18;
    -fx-max-width: 18;

    -fx-min-height: 18;
    -fx-pref-height: 18;
    -fx-max-height: 18;
}

