.button {
    -fx-background-radius: 4;
    -fx-background-color: rgb(200,200,200);
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-padding: 5 15 5 15;
}

.button:disabled {
    -fx-opacity: 1.0;
    -fx-background-color: rgb(200,235,35);
}