.root {
  -c-color-primary: rgb(0,0,0);
  -c-color-white: rgb(255,255,255);
  -c-color-grey: rgb(245,245,245);
}

.list-view {
    -fx-background-color: white;
    -fx-background-radius: 4;

    -fx-border-width: 1px;
    -fx-border-radius: 4;
}

.list-view: selected {
    -fx-background-color: white;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

.list-cell: even {
    -fx-background-color: -c-color-white;
    -fx-background-radius: 4;
}

.list-cell: odd {
    -fx-background-color: -c-color-grey;
    -fx-background-radius: 4;
}

.list-cell: selected {
    -fx-background-color:  -c-color-primary;
    -fx-background-radius: 4;
}